<a href="https://colab.research.google.com/github/IhlasulMufti/Pengantar-Pemrograman/blob/main/Python/2022/Pertemuan_5_Collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Cara Penggunaan Google Colab !!**

**klik tanda üîΩ untuk expand program**
> contoh: üîΩ A. Identifier

**cara menjalankan program:**
* klik  icon ‚ñ∂Ô∏è di bagian sudut kiri atas
* Ketik Cmd/Ctrl+Enter untuk menjalankan sel di tempatnya
* Ketik Shift+Enter untuk menjalankan sel dan memindahkan fokus ke sel berikutnya (menambahkan satu jika tidak ada);
* Ketik Alt+Enter untuk menjalankan sel dan menyisipkan sel kode baru tepat di bawahnya. 
* note : biasanya running pertama kali agak lama



<font color="red" size=4>
Silahkan pelajari programnya, BOLEH diubah-ubah isinya. Tidak akan berpengaruh ke file asli, reload page untuk mengembalikan file asli

# Collection

In [1]:
#  Metode primitif
buah1 = "apel"
buah2 = "mangga"
buah3 = "jambu" 
print(buah1, buah2, buah3)

apel mangga jambu

## List

In [2]:
buah = ["apel", "mangga", "jambu"]
        # 0         1        2
print("sebelum : ", buah)

sebelum :  ['apel', 'mangga', 'jambu']

#### Indexing

In [3]:
buah[1] = "avocado" 
print("sesudah : ", buah)

sesudah :  ['apel', 'avocado', 'jambu']

In [4]:
buah = "avocado"
print(buah[0:3])

avo

In [5]:
buah = ["apel", "mangga", "jambu"]
# 3-1 = 2
print(buah[1:-1])

['mangga']

#### Menambah List

In [6]:
buah.append("jeruk")

buah2 = buah.copy()

buah2.remove("jeruk")
print("buah : ", buah)
print("buah2 : ", buah2)
print(buah is buah2)

buah :  ['apel', 'mangga', 'jambu', 'jeruk']
buah2 :  ['apel', 'mangga', 'jambu']
False

#### Mengakses dengan Perulangan

In [7]:
m33 = [ [1,2,3],
        [4,5,6],
        [7,8,9] ]

for b in m33 :
    for k in b:
        print(k, end=", ")
    print()

1, 2, 3,
4, 5, 6,
7, 8, 9,

#### Menggabungkan List

In [8]:
buah = ["apel", "mangga", "jambu"]
buah2 = ["pepaya", "kelapa", "anu"]

buah_banyak = buah + buah2
print(buah_banyak)

['apel', 'mangga', 'jambu', 'pepaya', 'kelapa', 'anu']

## Tuple

In [9]:
buah = ("pepaya", "kelapa", "anu", "anggur")
buah_lst  = list(buah)
buah_lst[0] = "anggur"
buah = tuple(buah_lst)
print(type(buah))
print(buah.count("anggur"))

<class 'tuple'>
2

## Set

In [10]:
buah = {"pepaya", "kelapa", "kepala", "anu"}
print(type(buah))

for i in buah:
    print(i)

<class 'set'>
anu
kelapa
kepala
pepaya

## Dict

In [11]:
person = {
    "nama" : "Ichsan",
    "usia" : 16,
    "alamat" : "jaksel",
    20 : "mangga"
}
for k,v in person.items():
    print(k, " : ",v)

nama  :  Ichsan
usia  :  16
alamat  :  jaksel
20  :  mangga

## List of For

In [12]:
angka = [1,2,3,4]

angka2 = [x*23 for x in angka]
print(angka2)

def f(*angka, **detail):
    print(angka)
    print(detail)

num = f(1,2,3,4,5, nama="ichsan", usia="15", alamat="LA")


print(num)

[23, 46, 69, 92]
(1, 2, 3, 4, 5)
{'nama': 'ichsan', 'usia': '15', 'alamat': 'LA'}
None