<a href="https://colab.research.google.com/github/IhlasulMufti/Pengantar-Pemrograman/blob/python/2022/Pertemuan_1_Introduce_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Cara Penggunaan Google Colab !!**

**klik tanda üîΩ untuk expand program**
> contoh: üîΩ A. Identifier

**cara menjalankan program:**
* klik  icon ‚ñ∂Ô∏è di bagian sudut kiri atas
* Ketik Cmd/Ctrl+Enter untuk menjalankan sel di tempatnya;
* Ketik Shift+Enter untuk menjalankan sel dan memindahkan fokus ke sel berikutnya (menambahkan satu jika tidak ada);
* Ketik Alt+Enter untuk menjalankan sel dan menyisipkan sel kode baru tepat di bawahnya. 
* note : biasanya running pertama kali agak lama



<font color="red" size=4>
Silahkan pelajari programnya, BOLEH diubah-ubah isinya. Tidak akan berpengaruh ke file asli, reload page untuk mengembalikan file asli

# **A. Identifier**

Identifier bisa diawali dengan huruf A-Z atau a-z atau underscore (_) diikuti huruf, underscore, dan digit (0-9)

In [1]:
# menyimpan nilai (sbg variabel)
PHI = 3.1415
orang2_ = "tono"
Age = 12
_status = "jomblo"
__NIK = 7308073721710001   


print(__NIK) # ubah '__NIK' dengan identifier apa saja untuk meluhat hasilnya

7308073721710001

<font color="red">
PENTING!!

Materinya belum dipelajari üëáüëáüëá (hanya gambaran penggunaan identifier)

In [2]:
# menyimpan module
import math as mt # mt adalah identifier

# menyimpan function
def funct_tambahkan(a,b):
  return a+b
jumlah = funct_tambahkan # funct_tambah sekarang bisa dipanggil dengan identifier 'jumlah'

funct_tambahkan(5,5) # line 20 dan 21 code ini sama sama menghasilkan 10
jumlah(5,5) # sama saja dengan yang diatas

# menyimpan class
class Mahasiswa:
  nama = "Ichsan Takwa"
  NIM = "H071201058"
  prodi = "Sistem Informasi"
  angkatan = 2020
  def deskripsi(self):
    print(self.nama,self.NIM,self.prodi,self.angkatan)

Mhs = Mahasiswa # class 'Mahasiswa' sekarang dapat dipanggil dengan 'Mhs'
Mhs();  Mahasiswa() # adalah class yang sama

# menyimpan objek
ichsan = Mhs() # ichsan adalah identifier yang menyimpan objek/instance dari class Mahasiswa

print(ichsan.deskripsi()) # ubah '__NIK' dengan identifier apa saja untuk meluhat hasilnya

Ichsan Takwa H071201058 Sistem Informasi 2020
None

# **B. Keyword**
kata-kata khusus yang memiliki arti dan tujuan tertentu dan tidak dapat digunakan untuk apa pun selain tujuan khusus tersebut

In [3]:
# if
# else
# for
# in
# is
# not
# True
# False
# pass
# raise
# while
# try
# lambda
# # dsb...

# # keyword diatas tidak dapat digunakan sebagai identifier / variabel

# **Command**

* command di python menggunakan simbol ' # ' kalimat di sebelah kanan simbol tsb merupakan bagian dari command. 
* command berfungsi untuk memudahkan programmer memberi penjelasan pada program. 
* pada saat program dijalankan command tidak akan dieksekusi oleh sistem.

# **C. Variabel** 
Sebuah variabel dapat memiliki nama pendek (seperti x dan y) atau nama yang lebih deskriptif. Aturan untuk variabel Python:


*   Nama variabel harus dimulai dengan huruf atau karakter garis bawah
*   Nama variabel tidak boleh diawali dengan angka

*   Nama variabel hanya boleh berisi karakter alfanumerik dan garis bawah (A-z, 0-9, dan (_)
*   Nama variabel sensitif huruf besar/kecil (usia, Usia, dan USIA adalah tiga variabel berbeda)

In [4]:
# # contoh variabel yang benar
# NAMA
# No_hp
# Alamat
# tempatTinggal
# _status
# __NIK
# hobi1
# hobi_2

# **D. Data Types**
Variabel dapat menyimpan data dari tipe yang berbeda, dan tipe yang berbeda dapat melakukan hal yang berbeda. Berikut tipe data pada python:



*	Text Type	.............. :	str
*	Numeric Types	.... : 	int, float, complex
*	Sequence Types ..	:	list, tuple, range
*	Mapping Type	...... :	dict
*	Set Types ..............	:	set, frozenset
*	Boolean Type .......	:	bool
*	Binary Types ........	:	bytes, bytearray, memoryview
*	None Type ............	:	NoneType

In [5]:
str1 = "Thanos S.Pd." # string
str2 = 'Hulk S.Ked.' # string

int1 = 20    # int
int2 = -102  # int
flt1 = 3.14  # float
flt2 = 2.71  # float

bool1 = True # boolean
bool2 = False # boolean

<font color="red">
PENTING!!

Materinya belum dipelajari üëáüëáüëá (hanya gambaran penggunaan identifier)

In [6]:
cpx1 = 2j  # complex

byt = bytes(10) # bytes
bytarr = bytearray(10) # bytearray
memvw = memoryview(bytes(10)) # memoryview

lst = [1,2,'sapi',4,'rakun'] # list

tpl = ('pisang', 10, 'mangga') #tuple

rge = range(10) # range

dct = {'nama' : 'thoriq', 'usia': 20} #dict

stt = {'tobi','tono','thoriq'} # set

frst = frozenset({'tobi','tono','thoriq'}) # frozenset

none = None # NoneType

print( int1, flt1) # ubah 'int1, flt1' dengan variabel apa saja diatas untuk melihat hasilnya

20 3.14

# **E.	 Operators**
Operator pada Pemrograman Python dapat disimbolkan dengan tanda atau karakter seperti +, -, *, /, **, % dan sebagainya

**Operator Aritmatika**

* ' + '	Penjumlahan
* ' - '	Pengurangan
* ' * '	Perkalian
* ' / '	Pembagian
* ' // '	Pembagian (dibulatkan kebawah)
* ' % '	Sisa Bagi / Modulo

In [7]:
a = 10
b = 6

jumlah = a + b 
kurang = a - b
bagi = a / b
bagi_pembulatan = a // b
kali = a * b
modulo = b % a

# print nilai variabel-variabel diatas
print( 100*0.2 ) # 100 x 0.2 = 20.0; tipedata: foat

20.0

**Operator Pembanding**

* ' > '	Lebih Besar
* ' < '	Lebih Kecil
* ' == '	Sama Dengan
* ' != '	Tidak Sama dengan 
* ' >= '	Besar Sama dengan
* ' <= '	Lebih Kecil Sama dengan

In [8]:
print( 100 > 120) # False (salah); typedata : bool/boolean

False

**Operator Penugasan**

* ' = '	Assignment
* ' += '	Penjumlahan
* ' -= '	Pengurangan
* ' *= '	Perkalian
* ' /= '	Pembagian
* ' //= '	Pembagian (dibulatkan kebawah)
* ' %= '	Sisa Bagi / Modulo

In [9]:
a = 12
a /= 3
print(a)

4.0

**Operator Logical**

* ' and '	dan
* ' or '	atau
* ' not '	ingkaran/negasi

In [10]:
a = 12 > 10
b = 2 == 2

x = a and b

print(' a:',a,'\n b:', b, '\n a and b:',x) # \n = baris baru

 a: True
 b: True
 a and b: True

In [11]:
a = 12 > 10
b = 2 == 2

x = a and b
y = not x
print(' a:',a,'\n b:', b, '\n a and b:',x, '\n not x:',y) # \n = baris baru

 a: True
 b: True
 a and b: True
 not x: False

**Operator Keanggotaan**

* ' in '	Menghasilkan nilai TRUE jika nilai yang ditentukan berada dalam objek tertentu
* ' not in '	Menghasilkan nilai TRUE jika nilai yang ditentukan tidak ada dalam objek tertentu

In [12]:
ls = [1,2,'sapi',4,'rakun']
x = 'sapi' in ls

print("apakah terdapat 'sapi' di ls?", x)

apakah terdapat 'sapi' di ls? True

**Operator Identitas**

* is	Menghasilkan nilai TRUE jika kedua nilai operand memiliki identitas yang sama.
* not is	Menghasilkan nilai FALSE jika kedua nilai operand memiliki identitas yang sama.

In [13]:
a = 41

x = a is 41

print("a adalah 41?? ", x)

a adalah 41??  True

**Operator Bitwise**

* ' &	' and
* ' |	' or
* ' ^	' xor
* ' ~	' not
* ' <<	' left shift
* ' >>	' right shift


referensi : https://realpython.com/python-bitwise-operators/

In [14]:
a = 5   #   101
b = 22  # 10110
        #   100
        # digit ke-1 nilai bit dari '5' dan digit ke-3 nilai bit dari '22' sama sama bernilai 1 shg
x =  a & b # 100 dlm desimal: 4 
print(x)

4

In [15]:
a = 10  # 1010
x = a<<3  # shift left 3x 
          # 1010000 : dlm desimal = 80
print(x)

80

**Operator Precedence**

Operator Precedence adalah operator yang membarikan lebih dari satu penugasan dalam satu statement.

In [16]:
a,b,c = 1,2,3

print('a:', a, '\nb:',b, '\nc:',c)  # \n = baris baru

a: 1
b: 2
c: 3

**Operator Associativity**

Operator Associativity adalah operator dalam python yang dapat menggabungkan lebih dari satu operator aritmatika.

In [17]:
x = (205-100) / 5**2 *5  # (105) / 25 * 5 
print(x)

21.0

# **F.	Statements**
Statement adalah pernyataan atau instruksi yang diberikan untuk dieksekusi oleh mesin.

In [18]:
a = 12 # adalah statement\
a = a+12 # adalah statement
b = '24'
if a != b:                      #
  print('a dan b tidak sama')   # dua baris ini dianggap satu statement

a dan b tidak sama

# **G. Expression**
Expressions adalah kombinasi dari operator yang diinterpretasikan untuk menghasilkan beberapa nilai lain.

**Constant Expression**

Constant Expressions adalah ekspresi yang hanya memiliki nilai konstan.

In [19]:
PHI = 3.14
GRAVITY = 9.8
jumlah = 14
_alamat = "jl.pisang"

print(PHI, GRAVITY, jumlah, _alamat)

3.14 9.8 14 jl.pisang

**Arithmetic Expressions**

Arithmetic Expressions adalah kombinasi dari nilai numerik, operator, dan terkadang tanda kurung

In [20]:
a = 2*(12+6)
b = 5**2

print(a,b)

36 25

**Integer Expressions**

Integer Expressions adalah jenis ekspresi yang hanya menghasilkan hasil bilangan bulat setelah semua perhitungan dan konversi tipe datanya.

In [21]:
x = 120
y = 1
z = int(10.123)

print(x,y,z)

120 1 10

**Floating Expressions**

Floating Expressions adalah jenis ekspresi yang menghasilkan angka floating point sebagai hasil setelah semua perhitungan dan konversi tipe datanya.

In [22]:
x = 3/2
y = 2.17
z = float("2.71828")

print(" x:",x, "\n y:",y, "\n z:",z) # \n digunakan untuk mencetak output di baris baru

 x: 1.5
 y: 2.17
 z: 2.71828

**Relational Expressions**

ekspresi aritmatika ditulis di kedua sisi operator relasional (>, < , >= , <=).

In [23]:
a =  (100+2) > (90+10) # True
b =  (22/2) <= (2*5) # False
c =  (2+2) == (2*2) # True

print('a :', a, 'b:', b,'c :', c)

a : True b: False c : True

**Logical Expressions**

Logical Expressions adalah jenis ekspresi yang menghasilkan True atau False. Ini pada dasarnya menentukan satu atau lebih kondisi

In [24]:
a = 10 == 9 # False
b = 132 > 100 # True

print('a :', a, 'b:', b)

a : False b: True

**Bitwise Expressions**

Bitwise Expressions adalah jenis ekspresi dimana perhitungan dilakukan pada tingkat bit.

In [25]:
a = 5 & 22 #  4
b = 5 | 22 # 23
c = 102 << 4 # 1632
d = ~400 # -401

print('a :', a, 'b:', b, 'c :', c, 'd:', d)

a : 4 b: 23 c : 1632 d: -401

**Combinational Expressions**

Combinational Expressions adalah jenis ekspresi dengan menggabungkan berbagai ekspresi kemudain menjadikan satu ekspresi.

In [26]:
x = (200 + 3) - (6 << 1) # 191
y = (200 & 160) / 4  # 32

print('x :', x, 'y:', y)

x : 191 y: 32.0

# **Konversi/Casting Tipe Data**

In [27]:
a = '10' # string
print(type(a), a)

<class 'str'> 10

In [28]:
a = '10' # string
b = int(a) # string ke int

print(type(b), b)

<class 'int'> 10

In [29]:
a = '10.45' # string
b = float(a) # string ke float
print(type(b), b)

<class 'float'> 10.45

# **User Input**

menerima data langsung dari input keyboard saat program dijalankan dengan tipe default 'string'

In [30]:
nama = input("Siapa namamu? ") 
print("hallo", nama, "apa kabar?")

Siapa namamu? Mufti Faqih
hallo Mufti Faqih apa kabar?

In [31]:
#program hitung keliling persegi
sisi = int(input("Masukkan panjang sisi? ")) # input bertipe string, harus dikonversi ke int
                                             #  agar dapat dioperasikan menggunakan operasi artematik 
hasil = 4*sisi
print("keliling persegi: ", hasil)

Masukkan panjang sisi? 9
keliling persegi:  36

# **Referensi Belajar Python:**

YOUTUBE :
* IDN https://www.youtube.com/playlist?list=PLZS-MHyEIRo59lUBwU-XHH7Ymmb04ffOY
* IDN https://www.youtube.com/playlist?list=PL-CtdCApEFH_HY6bL3JER8WJOxz1nb3_H
* ENG https://www.youtube.com/watch?v=_uQrJ0TkZlc&t=1028s
* ENG https://www.youtube.com/watch?v=rfscVS0vtbw&t=938s

WEBSITE : 
* IDN https://www.petanikode.com/tutorial/python/
* ENG https://www.w3schools.com/python/
* ENG https://www.programiz.com/python-programming

<font color='cyan' size=18 align="center">
TERIMA KASIH